body {
	background: #F0F8FF;
	font-family: Arial;
	font-size: 12px;
}
.header {
	font-size: 15px;
}

.button {
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.button:active {
	position:relative;
	top:1px;
}

.feed {
	width: 75%;
	margin: 10px auto;
}

.tweet {
	border-radius: 8px;
	background: #4da6ff;
	color: white;
	padding: 8px;
	margin: 5px 5px 5px 5px;
}

.user {
	font-weight: bold;
	font-size: 15px;
	color: black;
}

.time {
	float: right;
}