body {
	background: #F0F8FF;
	font-family: Arial;
}
.header {
	font-size: 20px;
	font
}

.button {
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.button:active {
	position:relative;
	top:1px;
}

.feed {
	width: 75%;
	margin: 10px auto;
}

.tweet {
	border-radius: 15px;
	background: lightblue;
	padding: 10px;
	margin: 5px 5px 5px 5px;
}

.user {
	font-weight: bold;
	font-size: 20px;
}

.time {
	float: right;
}